Checks: "*,\
-clang-diagnostic-c++98-compat,\
-clang-diagnostic-deprecated,\
-clang-diagnostic-documentation-unknown-command,\
-clang-diagnostic-unused-macros,\
-cppcoreguidelines-no-malloc,\
-cppcoreguidelines-owning-memory,\
-hicpp-no-malloc,\
-llvm-header-guard,\
-modernize-use-using,\
"
AnalyzeTemporaryDtors: true
